spring:
  datasource:
    url: jdbc:h2:file:./.localdb/ghostnet;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate

  h2:
    console:
      enabled: true
